{{page-title "Practice Definite Articles"}}

<header>
  <h1 class="text-3xl font-bold text-zinc-900">Practice German definite articles</h1>
</header>
<section class="my-8" data-test-exercise-primer data-test-exercise-definite-articles>
  <div class="px-2 py-4 hidden">
    <article>
      <h2>What are German articles?</h2>
      <p></p>
    </article>
    <article>
      <h2>Definite articles: der, die, das</h2>
      <p></p>
    </article>
    <article>
      <h2>Indefinite articles: ein, eine</h2>
      <p></p>
    </article>
    <article>
      <h2>Declination tables</h2>
      <p></p>
    </article>
  </div>

  <div class="mt-4">
    <ActionButton
      @route="exercises.exercise"
      @model={{this.practiceSession.currentQuestionId}}
      data-test-exercise-start data-test-exercise-start-definite>
      Start
    </ActionButton>
  </div>
</section>
