<h1>Yikes! Something went wrong, sorry!</h1>

<div class="flex flex-row justify-center">
  <LinkTo class="bg-zinc-500 hover:bg-zinc-600 focus:bg-zinc-600 text-white font-semibold rounded-md p-2" @route="index" data-test-error-go-back-home>Go back home</LinkTo>
</div>
