{{page-title "Practice Definite Articles"}}

<header>
  <h1 class="text-3xl font-bold text-zinc-900">Practice German indefinite articles: ein, eine</h1>
</header>
<section class="my-8" data-test-exercise-primer data-test-exercise-indefinite-articles>
  <div class="py-4 space-y-8">
    <article>
      <h2 class="text-xl font-bold mb-2">Examples</h2>
      <p>
        <ul>
          <li>Ich gehe in <b class="bg-azure text-zinc-800 px-1 py-0.5 rounded-sm mx-1">ein</b> Haus.</li>
          <li>Das Kind gibt <b class="bg-azure text-zinc-800 px-1 py-0.5 rounded-sm mx-1">einem</b> Hund den Knochen.</li>
          <li><b class="bg-azure text-zinc-800 px-1 py-0.5 rounded-sm mx-1">Eine</b> Frau fährt Motorrad.</li>
        </ul>
      </p>
    </article>
    <article>
      <h2 class="text-xl font-bold mb-2">Declension tables</h2>
      <p>Need a refresher before you start practicing? Check out
        <a class="text-orange-800 underline decoration-2 font-semibold"
          href="https://en.wikipedia.org/wiki/German_declension#Indefinite_article"
          target="definedd">
          this declension table for indefinite articles
        </a>
      !</p>
    </article>
  </div>

  <div class="mt-4">
    <ActionButton
      @route="exercises.exercise"
      @model={{this.practiceSession.currentQuestionId}}
      data-test-exercise-start data-test-exercise-start-indefinite>
      Start
    </ActionButton>
  </div>
</section>
