{{page-title "Index"}}

  <header>
    <h1 class="text-3xl font-bold text-zinc-900">German practice</h1>
  </header>
  <section class="mt-8" data-test-exercise-primer data-test-exercise-definite-articles>
    <h1 class="text-2xl font-bold text-zinc-900">German definite articles</h1>

    <p class="mt-4 mb-8">Practice using definite German articles: <b>der, die, das</b></p>

    <div class="px-2 py-4 hidden">
      <article>
        <h2>What are German articles?</h2>
        <p></p>
      </article>
      <article>
        <h2>Definite articles: der, die, das</h2>
        <p></p>
      </article>
      <article>
        <h2>Indefinite articles: ein, eine</h2>
        <p></p>
      </article>
      <article>
        <h2>Declination tables</h2>
        <p></p>
      </article>
    </div>

    <div class="mt-4">
      <ActionButton
        @route="exercises.definite"
        data-test-exercise-choose-definite>
        Practice definite articles
      </ActionButton>
    </div>

  </section>
  <section class="mt-8" data-test-exercise-primer data-test-exercise-indefinite-articles>
    <h1 class="text-2xl font-bold text-zinc-900">German indefinite articles</h1>

    <p class="mt-4 mb-8">Practice using indefinite German articles: <b>ein, eine</b></p>

    <div class="mt-4">
      <ActionButton
        @route="exercises.indefinite"
        data-test-exercise-choose-indefinite>
        Practice indefinite articles
      </ActionButton>
    </div>
  </section>
  <section class="mt-8" data-test-exercise-primer data-test-exercise-weak-attributes>
    <h1 class="text-2xl font-bold text-zinc-900">German attributive adjectives - weak inflection</h1>

    <p class="mt-4 mb-8">Practice the declension of attributes using weak inflection: <b>der gute, die gute, das gute</b></p>

    <div class="mt-4">
      <ActionButton
        @route="exercises.weak"
        data-test-exercise-choose-weak>
        Practice attributes (weak inflection)
      </ActionButton>
    </div>
  </section>

  <section class="mt-8" data-test-exercise-primer data-test-exercise-strong-attributes>
    <h1 class="text-2xl font-bold text-zinc-900">German attributive adjectives - strong inflection</h1>

    <p class="mt-4 mb-8">Practice the declination of attributes using strong inflection: <b>guter, gute, gutes (without preceding article)</b></p>

    <div class="mt-4">
      <ActionButton
        @onClick={{this.noop}}
        disabled={{true}}
        data-test-exercise-beta>
        Coming Soon
      </ActionButton>
    </div>
  </section>
{{outlet}}
