{{page-title "Exercises"}}

<div class="flex flex-col py-4">
  <div class="flex flex-row justify-end">
    <LinkTo class="bg-zinc-500 hover:bg-zinc-600 focus:bg-zinc-600 text-white font-semibold rounded-md p-2" @route="index" data-test-exercise-go-back-home>Go back home</LinkTo>
  </div>

  {{outlet}}

  {{#if this.practiceSession.isLast}}
    <div class="mt-8 bg-azure font-bold text-center text-zinc-900 p-4 rounded-md text-lg" data-test-exercise-score>Score: {{this.formattedScore}}</div>
    <div class="basis-1/4 text-center mt-8">
      <ActionButton
        @onClick={{this.finish}}
        data-test-exercise-finish>
        Done!
      </ActionButton>
    </div>
  {{/if}}
</div>
